Django==1.2.5
Flask==0.7.2
Jinja2==2.6
PyYAML==3.10
Werkzeug==0.7.1
bottle==0.9.5
epio==0.2.8
httplib2==0.6.0
logilab-astng==0.22.0
logilab-common==0.56.2
psycopg2==2.3.1
pylint==0.24.0
pymongo==2.0.1
requests==0.6.1
scikits.learn==0.8
unittest2==0.5.1
virtualenv==1.6.4
web.py==0.35
