label { display:block }
#mapCanvas { height:80%; position:absolute; right:10px; bottom:10px; width:50% }
#responseContainer { height:100%; position:absolute; left:10px; width:45% }
.result { background:#ECF1EF; border:1px }
.result:hover { -moz-box-shadow:1px 1px 5px #aaa; -webkit-box-shadow: 1px 1px 5px #aaa; box-shadow: 1px 1px 5px #aaa; }
