<html>
    <head>
        <title>Vacation Guru: Where do you want to go? What do you want to see?</title>
        <style>
            label {
                display:block;
            }
        </style>
    </head>
    <body>
        <h1>Vacation Guru</h1>
        <label for="searchbox">Where do you want to go? What do you want to see?</label>
        <input id="searchbox" type="text" value placeholder="Place / Sight" />
        <button id="searchButton">Tell me!</button>
        <div id="responseContainer"></div>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
        <script src="/static/script.js"></script>
    </body>
</html>