<!DOCTYPE html>
<html>
    <head>
        <title>Vacation Guru: What do you want to see?</title>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <link href="/static/style.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <h1>Vacation Guru</h1>
        <div id="controlDiv">
            <label for="searchbox">Enter a place you like, we'll recommend similar destinations!</label>
            <input class="search" id="searchbox" type="text" value placeholder="Place / Sight" />
            <button class="search" id="searchButton">Tell me!</button>
        </div>
        <div id="resultDiv">
            <img src="/static/spinner.gif" id="spinner" />
            <div id="infoContainer"></div>
            <div id="resultContainer"></div>
        </div>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js" type="text/javascript"></script>
        <script src="/static/script.js" type="text/javascript"></script>
    </body>
</html>